.card .body {
    font-size: 17px;
    color: #555;
    padding: 40px;
    }
    .card {
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    
    @media screen and (max-width: 568px) {
    
    .card .body {
    font-size: 14px; 
    color: #555;
    margin-left:-22px;
    width:110%;
    }
    }
    
    @media only screen and (max-width: 768px){
    .card .body {
    font-size: 14px;
    color: #555;
    margin-left:-22px;
    width:110%;
    }
    }
    
    .modaldesign
    {
    margin-left:141px
    }
    @media screen and (max-width: 568px) {
    .modaldesign
    {
        margin-left:98px
    }
    }
    
    @media only screen and (max-width: 768px){
    .modaldesign
    {
        margin-left:98px
    }
     }
    
    
    
    .modalcss1
    {
        margin-left:65px
    }
    @media screen and (max-width: 568px) {
    .modalcss1
    {
        margin-left:6px
    }
    }
    
    @media only screen and (max-width: 768px){
    
    .modalcss1
    {
        margin-left:6px
    }
     }
    
    
    /*images view full profile*/
    .imgfull {
        /* margin-bottom: 175px; */
        margin-top: -208px;
        width: 150px;
        margin-left: 89px;
    }
    .imgfullleft
    {
         margin-bottom: 146px;
        margin-top: -80px;
        
        margin-left: -47px;
        width:144px;
        
        
    }
    .imgmiddle {
        margin-bottom: 145px;
        margin-top: -168px;
        margin-left: 91px;
        width: 150px;
        font-size: 15px;
    }
    .imgsm {
        margin-bottom: 168px;
        margin-top: -153px;
        margin-left: -75px;
        background-color: #fff;
    }
    .txt
    {
          margin-left: -8px;
    }
    
    .dropdownimg
    {
        margin: 1.425rem 75px 0;
    }
    
    .btns{
        margin-left: -26px;
    }
    
    .btnn {
       
     margin-left: -10px;
    
    }
    .bts
    {
         margin-left: -19px;
    
    }
    @media screen and (max-width: 568px) {
    .bts
    {
         margin-left: -5px;
    
    }
    .btns{
        margin-left: -9px;
        width: 114px;
        padding: 8px;
    }
    }
    
    
    @media only screen and (max-width: 768px){
    .bts
    {
         margin-left: -5px;
         margin-top:-251px;
    }
    .btns{
        margin-left: -15px;
        margin-top:-251px;
        width: 114px;
        padding: 8px;
    }
    }
    @media screen and (max-width: 568px) {
    .imgfull {
        margin-bottom: 88px;
        margin-top: -627px;
        width: 108px;
        margin-left: -12px;
    }
    }
    
    
    @media only screen and (max-width: 768px){
    .imgfull {
        margin-bottom: 88px;
        margin-top: -627px;
        width: 108px;
        margin-left: -12px;
    }
    }
    
    @media screen and (max-width: 568px) {
    .imgfullleft
    {
        margin-top: -794px;
        margin-left: 229px;
        width: 97px;
    }
    }
    
    @media only screen and (max-width: 768px){
    
    .imgfullleft
    {
        margin-top: -794px;
        margin-left: 232px;
        width: 97px;
    }
    }
    
        
    @media screen and (max-width: 568px) {
    .mobtab
    {
        position: relative;
        text-align: center;
       /* margin-bottom: 213px; */ 	margin-bottom: 0px;
    }
    }
    
    
    @media only screen and (max-width: 768px){
    .mobtab
    {
        position: relative;
        text-align: center;
       /* margin-bottom: 213px; */ 	margin-bottom: 0px;
    }
    }	
    
        
    @media screen and (max-width: 568px) {
    .imgmiddle {
       margin-bottom: 91px;
        margin-top: -638px;
         margin-left: 154px;
    }
    }
    
    @media only screen and (max-width: 768px){
    
    .imgmiddle {
        margin-bottom: 91px;
        margin-top: -510px;
         margin-left: 154px;
    }
    }	
    
    
    @media screen and (max-width: 568px) {
    .imgsm {
        margin-left: 244px;
        height: 38px;
        margin-top: -1040px;
        background-color: #fff;
        width: 43px;
    }
    }
    
    @media only screen and (max-width: 768px){
    
    .imgsm {
        margin-left: 241px;
        height: 38px;
        margin-top: -936px;
        background-color: #fff;
        width: 43px;
    }
    }	
    
    .areatext{
    height:114px;
    width:314px;
    position: relative;
    display: block;
    margin: 0px;
    padding-right: 70px;
    background: #ffffff;
    z-index: 2;
    box-shadow: 0 0 30px rgba(0,0,0,0.10);
    margin-bottom: 10px;
    border:none;
    }
    
    
    .btngal{
    box-shadow:none; 
    color:#000000;
    margin-left:5px;
    background: #fff;
    }
    .btngal1{
    box-shadow:none; 
    color:#29ad19;
    margin-left:5px;
    background: #fff;
    }
    .btndel{
    box-shadow:none; 
    color:#000000;
    margin-left:77px;
    background: #fff;
    }
    @media screen and (max-width: 568px) {
    .btndel{
    box-shadow:none; 
    color:#000000;
    margin-left:15px;
    background: #fff;
    }
    }
    
    
    @media only screen and (max-width: 768px){
    
    .btndel{
    box-shadow:none; 
    color:#000000;
    margin-left:15px;
    background: #fff;
    }
    }
     @media only screen and (max-width: 465px){
     .coninfo {
      margin-left:64px;
    }
    }
    @media only screen and (max-width: 565px){
    .coninfo  {
        margin-left:64px;
    } 
    }
    
    .alert-info {
        color: #fff;
        background: linear-gradient(to left, rgba(247,0,104) 0%,rgba(68,16,102,1) 100%);
        border-color: #fff;
        font-size: 17px;
        margin-left:0px;
    }
    .edu
    {
        margin-top:-110px;
    }
    .basic
    {
        margin-top:50px;
    }
     @media only screen and (max-width: 465px){
     .horop {
     margin-top:50px;
    }
    .edus
    {
        margin-top:-13px;
    }
    .schedule-block.even .inner-box .inners {
          margin-left: 0px;
        margin-right: 0px;
    }
    }
    @media only screen and (max-width: 565px){
    .horop  {
       margin-top:50px;
    } 
    .edus
    {
        margin-top:-13px;
    }
    .schedule-block.even .inner-box .inners {
     
           margin-left: 0px;
        margin-right: 0px;
    }
    }
    
    .schedule-block.even .inner-box .inners {
        margin-left: 106px;
        margin-right: -345px;
    }
     @media only screen and (max-width: 465px){
     
    .schedule-block.even .inner-box .inners {
          margin-left: 0px;
        margin-right: 0px;
        bottom: 197PX;    margin-top: 10rem;
    }
    .schedule-block.even .inner-box .innerss {
        margin-left: 0;
        margin-right: 4px;
    }
    }
    @media only screen and (max-width: 565px){
    
    .schedule-block.even .inner-box .inners {
     
           margin-left: 0px;
        margin-right: 0px;
        bottom: 197PX;
    }
    .schedule-block.even .inner-box .innerss {
        margin-left: 0;
        margin-right: 4px;
    }
    .label-align
    {
        margin-top: -26px;
        margin-left: 30px;
    }
    }
    .imgcom {
        margin-top: -14px;
        width: 108px;
        height: 84px;
        margin-left: -8px;
        max-width: 126%;
    }
    .radiocss{
    vertical-align: text-top;
    }
    .compact{
        padding: 20px 30px 20px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        box-shadow: 0 0 30px rgb(0 0 0 / 5%);
        margin-left: -24px;
        margin-right: -29px;
        border-radius: 20px;
    }
    .gallery-item .image-box {
        position: relative;
        box-shadow: 0 0px 0px rgb(8 13 62 / 10%);
        overflow: initial;
    }
    .gallery-item .overlay-box {
        position: absolute;
        left: 0;
        top: 0;
        height: 99%;
        width: 39%;
        text-align: center;
        content: "";
        opacity: 0;
         background-color:transparent; 
         margin-left: 14%;
       
    }
    .lines {
         border-color: #fff; 
    }
    
    .theme-btn{
        display:inline-block;
        -webkit-transition:all 0.3s ease;
        -moz-transition:all 0.3s ease;
        -ms-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
    }
    
    
    
    .theme-btn .flaticon-arrow{
        display: inherit;
        font-size:inherit;
        margin-left: 3px;
        font-size: 14px;
        -webkit-transform: scaleX(-1) translateY(-1px);
        -moz-transform: scaleX(-1) translateY(-1px);
        -ms-transform: scaleX(-1) translateY(-1px);
        -o-transform: scaleX(-1) translateY(-1px);
        transform: scaleX(-1) translateY(-1px);
    }
    
    ::-webkit-input-placeholder{color: inherit;}
    ::-moz-input-placeholder{color:  inherit;}
    ::-ms-input-placeholder{color:  inherit;}
    
    
    
    
    ::-moz-selection {
    background:#ec167f;
    color:#ffffff;
    }
    
    ::-webkit-selection {
    background:#ec167f;
    color:#ffffff;
    }
    
    /***
    
    ====================================================================
        Buttons Style
    ====================================================================
    
     ***/
    
     .theme-btn{
         position: relative;
         transition: all 300ms ease;
     }
    
    /* Button style one*/
    .btn-style-five{
        position:relative;
        padding: 2px 7px 2px 7px;
        font-size: 11px;
        display:inline;
        line-height: 20px;
        color:#ffffff;
        font-weight:700;
        text-align:center;
        background-color: #ec167f;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .btn-style-five .btn-title{
        position: relative;
    }
    
    /*.btn-style-five:hover{
         color:#ec167f;
         background-color:#ffffff;
        -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.10);
        -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.10);
        -ms-box-shadow: 0 10px 30px rgba(0,0,0,0.10);
        -o-box-shadow: 0 10px 30px rgba(0,0,0,0.10);
        box-shadow: 0 10px 30px rgba(0,0,0,0.10);
    }*/
    
    .btn-style-five:before{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        content: "";
        background-color: #ffffff;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
        -webkit-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -moz-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -o-transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
        -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);
        transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
    }
    
    /*.btn-style-five:hover:before{
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }*/
    
    .main-menu .navigation > li > ul > li > a {
       
        padding: 5px 16px;
    }
    .schedule-block.even .inner-box .innerss {
        margin-left: 0;
        margin-right: 80px;
    }
    .schedule-block .inner-box .innerss {
        position: relative;
        padding: 20px 30px 20px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        box-shadow: 0 0 30px rgb(0 0 0 / 5%);
        margin-left: 80px;
        border-radius: 20px;
    }
    .schedule-block .innerss:after {
        right: auto;
        left: 50%;
        border-right: 0;
        border-left: 20px solid #cccccc;
        
    }
    .schedule-block.even .innerss:after {
        right: auto;
        left: 100%;
        border-right: 0;
        border-left: 20px solid #cccccc;
    }
    .schedule-block .innerss:after {
        position: absolute;
        right: 100%;
        top: 35px;
        border-top: 15px solid transparent;
        border-right: 20px solid #cccccc;
        border-bottom: 15px solid transparent;
        content: "";
    }
    .texts{
    font-size: 14px;
        color: #212639;
        font-weight: 500;
        
    }
    .pricing-block-two .feature li:before {
        position: absolute;
        left:0;
        top: -27px;
        font-size: 16px;
        line-height: 30px;
        content: "\52";
        font-family: 'ElegantIcons';
        color: #2bd40f;	
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
    }
    
    .pricing-block-two .feature {
        position: relative;
        max-width: 0px;
        margin: 0 auto 0px;
    }
    
    .pricing-block-two .feature li {
        position: relative;
         display: block; 
         font-size: 14px; 
        line-height: 30px; 
       
        font-weight: 500; 
        padding: 1px 0;
        padding-left: 30px;
        
    }
    .tick{
        font-size: 16px;
        line-height: 30px;
         color: #2bd40f;
    }
    .ticks{
        font-size: 16px;
        line-height: 30px;
         color: #777777;
    }
    .coltex{
        color: #4c35a9;
    }
    .gretxt{
    color: #0fb31c;
    }
    .sqr {
       
        
        font-size: 10px;
       color: #e1137b;
      vertical-align:middle;
      
    }
    
    
    
     @media only screen and (max-width: 568px){
    .gallery-item .image-box {
        position: relative;
        box-shadow: 0 0px 0px rgb(8 13 62 / 10%);
        overflow: initial;
    }
    .gallery-item .image-box .image img {
        display: block;
        width: 44%;
        height: 88px;
        height: 136px;
    }
    .gallery-item .overlay-box {
        position: absolute;
        left: 0;
        top: 0;
        height: 99%;
        width: 14%;
        text-align: center;
        content: "";
        opacity: 0;
         background-color:transparent; 
       margin-left: 0%;
    }
    .schedule-block.even .inner-box .innerss {
        margin-left: 0;
        margin-right: 5px;
    }
    .gallery-item .overlay-box a{
        position: absolute;
        left: 50%;
        top: 62px;
        margin-top: -21px;
        margin-left: 12px;
    }
    
     }
      @media only screen and (max-width: 768px){
    .gallery-item .overlay-box {
        position: absolute;
        left: 0;
        top: 0;
        height: 99%;
        width: 14%;
        text-align: center;
        content: "";
        opacity: 0;
         background-color:transparent; 
       margin-left: 0%;
    }
    .gallery-item .image-box .image img {
        display: block;
        width: 40%;
        height: 88px;
        height: 136px;
    }
    .gallery-item .image-box {
        position: relative;
        box-shadow: 0 0px 0px rgb(8 13 62 / 10%);
        overflow: initial;
    }
    .schedule-block.even .inner-box .innerss {
        margin-left: 0;
        margin-right: 5px;
    }
    .gallery-item .overlay-box a{
        position: absolute;
        left: 50%;
        top: 62px;
        margin-top: -21px;
        margin-left: 12px;
    }
    
      }
     .img-thumbnail1 {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        width: 102%;
        height: 59px;
    }
         
    /* Water Mark*/	 
    .watermark
    {	
        position: absolute;
        top: 107px;
        margin-right: -50px;
        font-size: 50px;
        right: -39px;
        font-size: x-large;
        -webkit-transform: rotate(-90deg);
        color: mintcream;
    }
     
    .watermark1 {
        position: absolute;
        top: 60px;
        right: -104px;
        font-size: x-large;
        color: mintcream;
        -webkit-transform: rotate(-90deg);
    }
    .watermark2 {
       position: absolute;
    top: 10px;
    right: -109px;
    /* font-size: 9px; */
    font-size: x-large;
    color: mintcream;
    margin-right: -70px;
    -webkit-transform: rotate(-90deg);
    }
    
    
    .watermark3 {
    position: absolute;
    top: 158px;
    right: -68px;
    font-size: 20px;
    color: mintcream;
    font-size: x-large;
    -webkit-transform: rotate(-90deg);
    }
    .watermark4 {
    position: absolute;
    top: 175px;
    right: -46px;
    font-size: 20px;	
    font-size: x-large;
    color: mintcream;
    -webkit-transform: rotate(-90deg);
    }
    
    
     @media only screen and (max-width: 568px){
    .watermark2 {
        position: absolute;
        top: 57px;
        right: 170px;
        font-size: 9px;
        color: mintcream;
        -webkit-transform: rotate(-90deg);
    }
     }
     @media only screen and (max-width: 768px){
    .watermark2 {
        position: absolute;
        top: 57px;
        right: 170px;
        font-size: 9px;
        color: mintcream;
        -webkit-transform: rotate(-90deg);
    }
     }
     
     
     
      @media only screen and (max-width: 568px){
    
     .subscribe-form .form-group input[type="text"] {
        border: 1px solid #168e1d;
        width: 160%;
        left: -19px;
    }
      }
      
      
      
    @media only screen and (max-width: 768px){
    
     .subscribe-form .form-group input[type="text"] {
        border: 1px solid #168e1d;
        width: 160%;
        left: -19px;
    }
      }
      
      
      .btnss {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
         border-color: #117a8b;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
      @media screen and (max-width: 568px) {
    .pricemob {
        width: 123%;
        left: -33px;  
    } }
      @media screen and (max-width: 768px) {
          .pricemob {
        width: 123%;
        left: -33px;  
    }
      }	  
        @media screen and (max-width: 568px) {
    .pricemobs {
       width: 242%;
        left: -2px; 
    }}
      @media screen and (max-width: 768px) {
          .pricemobs {
       width: 242%;
        left: -2px;  
    } 
}