/* @media only screen and (max-width: 1199px) {
.card{
   width: 16rem;
}
}
@media only screen and (max-width: 768px) {
    .card{
       width: 13rem;
    }
    }

@media only screen and (max-width: 480px) {
        .card{
           width: 10rem;
        }
        } */

.slick-arrow {
    display: none !important;
}
